@import './assets/fonts.css';

* {
    font-family: 'Cabin', sans-serif;
}

body {
    background: url('./static/piano.jpg') no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
    background-color: #33658A;

}

h1, .navbar-brand {
    font-family: 'Volkhov', sans-serif;
    content: cent;
}

.nav {
    background-color: #33658A;
}

.nav button {
    border: none;
    background-color: #F8BD4F;
    color: #FFFFFF;
}
.nav button:hover {
    background-color: #F3712B;
    color: #FFFFFF;
}

.nav-link, .navbar-brand {
    color: #FFFFFF !important;
}
.nav-link:hover {
    color: #F8BD4F !important;
}
